{{> header}}
<section id="viewMydestinations">
    <h3>Your destinations</h3>
    {{#if hasDestinations}}
    {{#each destinations}}
    {{> destination}}
    {{/each}}
    {{/if}}
</section>
{{> footer}}