<main>
    <div class="container">
        <div class="about-us">
            <div>
                <img src="/img/shoes.jpg" alt="Shoes">
                <img src="/img/shoes2.jpg" alt="Shoes">
            </div>
            <p>
                <a href="/auth/register">Register Now</a> and Try it!
            </p>
        </div>
    </div>
</main>